# ------------------------------------------------
# UPLOADS & GENERATED DATA
# ------------------------------------------------
uploads/
*.wav
*_frames/
*_heatmap.jpg

# ------------------------------------------------
# DATABASE
# ------------------------------------------------
app.db
*.sqlite

# ------------------------------------------------
# PYTHON CACHE
# ------------------------------------------------
__pycache__/
*.pyc
*.pyo

# ------------------------------------------------
# ENVIRONMENT
# ------------------------------------------------
.env
venv/
.vscode/
.idea/

# ------------------------------------------------
# MODEL FILES (IF ANY)
# ------------------------------------------------
app/ml_core/models/

# ------------------------------------------------
# OS files
# ------------------------------------------------
.DS_Store
Thumbs.db
